BackEnd/__pycache__/Coords_converter.cpython-312.pyc
BackEnd/API/__pycache__/ExecuteExtractorCSV.cpython-312.pyc
BackEnd/API/__pycache__/ExecuteExtractorJSON.cpython-312.pyc
BackEnd/API/__pycache__/ExecuteExtractorXML.cpython-312.pyc
BackEnd/config/__pycache__/paths.cpython-312.pyc
BackEnd/utils/__pycache__/Conversores.cpython-312.pyc
BackEnd/utils/__pycache__/Filtros.cpython-312.pyc
BackEnd/utils/__pycache__/Location_Finder.cpython-312.pyc
BackEnd/utils/__pycache__/Otros.cpython-312.pyc
Resultados/CSVtoJSON_con_coords.json
Resultados/CSVtoJSON_con_coords.json
Resultados/CSVtoJSON_con_coords.json
Resultados/CSVtoJSON_con_coords.json
Resultados/CSVtoJSON_con_coords.json
Resultados/CSVtoJSON_con_coords.json
SQL/__pycache__/BDConnection.cpython-312.pyc
SQL/__pycache__/Json_Loader.cpython-312.pyc
SQL/__pycache__/BDMap.cpython-312.pyc
SQL/__pycache__/BDConnection.cpython-310.pyc
SQL/BDConnection.py
SQL/BDConnection.py
main.py
Fuentes_de_datos/.DS_Store
venv/.DS_Store
BackEnd/__pycache__/Wrapper_CSV.cpython-312.pyc
BackEnd/__pycache__/Wrapper_JSON.cpython-312.pyc
BackEnd/__pycache__/Wrapper_XML.cpython-312.pyc
/venv/
